<div data-page="categories" class="page navbar-fixed page-on-center">
  <div class="navbar">
	<div class="navbar-inner">
	  <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a></div>
	  <div class="center">Food Categories</div>
	  <div class="right">
		<!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
		</div>
	</div>
  </div>
 
  <!-- Toolbar has additional "toolbar-bottom" class -->
  <div class="page-content">
	<div class="content-block text-center">
		<div class="row">
			<div class="col-50">
				<a href="restaurants.html" class="food-category">
					<i class="flaticon-hamburger icon-category"></i>
					<div class="color-deeporange text-thiny">
						US Foods
					</div>
					<div class="text-extrat-thiny gray-text">
						5 restaurants in your area
					</div>
				</a>
			</div>
			<div class="col-50">
				<a href="restaurants.html" class="food-category">
					<i class="flaticon-taco icon-category"></i>
					<div class="color-deeporange text-thiny">
						Mexicano Foods
					</div>
					<div class="text-extrat-thiny gray-text">
						12 restaurants in your area
					</div>
				</a>
			</div>
			<div class="col-50">
				<a href="restaurants.html" class="food-category">
					<i class="flaticon-sushi icon-category"></i>
					<div class="color-deeporange text-thiny">
						japanese Foods
					</div>
					<div class="text-extrat-thiny gray-text">
						6 restaurants in your area
					</div>
				</a>
			</div>
			<div class="col-50">
				<a href="restaurants.html" class="food-category">
					<i class="flaticon-pasta icon-category"></i>
					<div class="color-deeporange text-thiny">
						italian foods
					</div>
					<div class="text-extrat-thiny gray-text">
						10 restaurants in your area
					</div>
				</a>
			</div>
			<div class="col-50">
				<a href="restaurants.html" class="food-category">
					<i class="flaticon-pizza icon-category"></i>
					<div class="color-deeporange text-thiny">
						Pizza
					</div>
					<div class="text-extrat-thiny gray-text">
						20 restaurants in your area
					</div>
				</a>
			</div>
			<div class="col-50">
				<a href="restaurants.html" class="food-category">
					<i class="flaticon-seafood icon-category"></i>
					<div class="color-deeporange text-thiny">
						SeaFood
					</div>
					<div class="text-extrat-thiny gray-text">
						10 restaurants in your area
					</div>
				</a>
			</div>
		</div>
	</div>
  </div>
</div>