<div data-page="login" class="page page-on-center">
	<div class="navbar navbar-no-color">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a></div>
			<div class="center">Login</div>
		</div>
	</div>
	<div class="page-content text-center">
		
		<div class="page-top-cover"></div>
		<div class="text-medium margin-top-15">Login</div>
		<form>
			<div class="list-block margin-bottom-40 inputs-list">
			  <ul class="no-border">		
				<li>
				  <div class="item-content">
					<div class="input-icon item-media"><i class="flaticon-email"></i></div>
					<div class="item-inner no-margin">
					  <div class="item-input item-input-field">
						<input type="email" class="text-thiny" placeholder="E-mail">
					  </div>
					</div>
					
				  </div>
				</li>
				
				<li>
				  <div class="item-content">
					<div class="input-icon item-media"><i class="flaticon-key"></i></div>
					<div class="item-inner no-margin">
					  <div class="item-input item-input-field">
						<input type="password" class="text-thiny" placeholder="Password">
					  </div>
					</div>
					
				  </div>
				</li>
				</ul>
				 <a href="remember-password.html" class="text-underline text-extrat-thiny">Forget your Password ?</a>
			</div>
			<div class="row btn-form-group margin-bottom-10">
				<div class="col-50">
					<a href="categorias.html" class="button button-fill color-black text-thiny">Login in</a>
				</div>
				<div class="col-50">
					<a href="restaurants.html" class="button button-fill color-facebook text-thiny">Facebook</a>
				</div>
			</div>
			<div class="text-center margin-bottom-15">
				<a href="register.html" class="text-underline text-extrat-thiny gray-text">You don't have an account? Register now</a>
			</div>
		</form>
	</div>
</div>