<div data-page="detail-restaurant" class="page navbar-fixed page-on-center">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="icon icon-back"></i></a>
            </div>
            <div class="center">Hamburger Resto</div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="page-content">
    
        <div class="row">
            <div class="col-100">
                <div class="restaurant-img">
                    <img src="img/photos/1.jpg" alt="restaurant">
                </div>
            </div>
        </div>
        <div class="content-block margin-top-15  margin-bottom-10">
            <a href="reservation-form.html" class="button button-fill color-deeporange text-extrat-thiny">Make a reservation</a>
        </div>
        <div class="content-block tabs-menu">
            <!-- Buttons row as tabs controller -->
            <div class="buttons-row">
                <!-- Link to 1st tab, active -->
                <a href="#tab1" class="tab-link active button text-extrat-thiny gray-text">Food menu</a>
                <!-- Link to 2nd tab -->
                <a href="#tab2" class="tab-link button text-extrat-thiny gray-text">Place Detail</a>
                <!-- Link to 3rd tab -->
                <a href="#tab3" class="tab-link button text-extrat-thiny gray-text">Place Reviews</a>
            </div>
        </div>
        <!-- Tabs, tabs wrapper -->
        <div class="">
            <div class="tabs">
                <!-- Tab 1, active by default -->
                <div id="tab1" class="tab active">
                        
                    <div class="list-block media-list margin-top-15">
                        <ul>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/food.jpg" width="80"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Food item</div>
                                            <div class="item-after link-deeporange">$15</div>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/food.jpg" width="80"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Food item</div>
                                            <div class="item-after link-deeporange">$15</div>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/food.jpg" width="80"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Food item</div>
                                            <div class="item-after link-deeporange">$15</div>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/food.jpg" width="80"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Food item</div>
                                            <div class="item-after link-deeporange">$15</div>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/food.jpg" width="80"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Food item</div>
                                            <div class="item-after link-deeporange">$15</div>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                        
                </div>
                <!-- Tab 2 -->
                <div id="tab2" class="tab">
                    <div class="content-block margin-top-15">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.1823707271!2d-0.10159865000001353!3d51.52864165000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C+Royaume-Uni!5e0!3m2!1sfr!2s!4v1436087326789" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                        <p class="text-thiny">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, 
                            ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. 
                            Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.
                        </p>
                    </div>
                </div>
                <!-- Tab 3 -->
                <div id="tab3" class="tab">
                    <div class="list-block media-list margin-top-15">
                        <div class="content-block-title">
                            <div class="row">
                                <div class="col-50">
                                    8 Reviews
                                </div>
                                <div class="col-50">
                                    <ul class="user-reviews-star no-border pull-right">
                                        <li><i class="flaticon-star yellow-star"></i></li>
                                        <li><i class="flaticon-star yellow-star"></i></li>
                                        <li><i class="flaticon-star yellow-star"></i></li>
                                        <li><i class="flaticon-star yellow-star"></i></li>
                                        <li><i class="flaticon-star gray-star"></i></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/user-1.png" width="60"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Jessica Doe</div>
                                        </div>
                                        <div class="item-subtitle">
                                            <ul class="user-reviews-star">
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star gray-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/user-2.png" width="60"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Magdeline Doe</div>
                                        </div>
                                        <div class="item-subtitle">
                                            <ul class="user-reviews-star">
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/user-3.png" width="60"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">John Doe</div>
                                        </div>
                                        <div class="item-subtitle">
                                            <ul class="user-reviews-star">
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/user-1.png" width="60"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Jessica Doe</div>
                                        </div>
                                        <div class="item-subtitle">
                                            <ul class="user-reviews-star">
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star gray-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/user-2.png" width="60"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Magdeline Doe</div>
                                        </div>
                                        <div class="item-subtitle">
                                            <ul class="user-reviews-star">
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="img/photos/user-3.png" width="60"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">John Doe</div>
                                        </div>
                                        <div class="item-subtitle">
                                            <ul class="user-reviews-star">
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                                <li><i class="flaticon-star yellow-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

</div>