<div data-page="restaurants" class="page navbar-fixed toolbar-fixed page-on-center">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="icon icon-back"></i></a>
            </div>
            <div class="center">Restaurants</div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
            </div>
        </div>
    </div>

    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link active">List</a>
            <a href="#tab-2" class="tab-link">Grid</a>
        <span class="tab-link-highlight" style="width: 50%; transform: translate3d(0%, 0px, 0px);"></span></div>
    </div>

    <!-- Toolbar has additional "toolbar-bottom" class -->
    <div class="tabs-animated-wrap">
        <div class="tabs">
		
			<!-- TAB LIST -->
            <div id="tab-1" class="page-content tab active">
                <div class="content-block">
                    <div id="list-restaurants">

                        <div class="restaurant">
                            <div class="row">
                                <div class="col-100">
                                    <div class="restaurant-img">
                                        <img src="img/photos/1.jpg" alt="restaurant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <h6>Hamburger Resto</h6>
                                    <div class="gray-text text-thiny"><a href="food-categories.html">Hamburger</a></div>
                                </div>
                                <div class="col-50">
                                    <a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant">
                            <div class="row">
                                <div class="col-100">
                                    <div class="restaurant-img">
                                        <img src="img/photos/2.jpg" alt="restaurant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <h6>Sushi Yuki</h6>
                                    <div class="gray-text text-thiny"><a href="food-categories.html">Sushi</a></div>
                                </div>
                                <div class="col-50">
                                    <a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant">
                            <div class="row">
                                <div class="col-100">
                                    <div class="restaurant-img">
                                        <img src="img/photos/3.jpg" alt="restaurant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <h6>Sea Restaurant</h6>
                                    <div class="gray-text text-thiny"><a href="food-categories.html">Seafood</a></div>
                                </div>
                                <div class="col-50">
                                    <a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant">
                            <div class="row">
                                <div class="col-100">
                                    <div class="restaurant-img">
                                        <img src="img/photos/4.jpg" alt="restaurant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <h6>Big Pizza</h6>
                                    <div class="gray-text text-thiny"><a href="food-categories.html">Pizza</a></div>
                                </div>
                                <div class="col-50">
                                    <a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant">
                            <div class="row">
                                <div class="col-100">
                                    <div class="restaurant-img">
                                        <img src="img/photos/5.jpg" alt="restaurant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <h6>Hello Restaurant</h6>
                                    <div class="gray-text text-thiny"><a href="food-categories.html">food</a></div>
                                </div>
                                <div class="col-50">
                                    <a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
                                </div>
                            </div>
                        </div>

                        <div class="restaurant">
                            <div class="row">
                                <div class="col-100">
                                    <div class="restaurant-img">
                                        <img src="img/photos/6.jpg" alt="restaurant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <h6>Friends Restaurant</h6>
                                    <div class="gray-text text-thiny"><a href="food-categories.html">food</a></div>
                                </div>
                                <div class="col-50">
                                    <a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
			<!-- TAB LIST -->
			
			
			<!-- TAB GRID -->
			<div id="tab-2" class="page-content tab">
				<div class="content-block">
					<div class="row">
						<div class="col-50">
							<div class="restaurant-grid">
								<img src="img/photos/6.jpg" alt="restaurant">
								<h6>Friends Restaurant</h6>
								<div class="gray-text text-thiny margin-bottom-10"><a href="food-categories.html">food</a></div>
								<a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
							</div>
						</div>
						<div class="col-50">
							<div class="restaurant-grid">
								<img src="img/photos/1.jpg" alt="restaurant">
								<h6>Hamburger Resto</h6>
								<div class="gray-text text-thiny margin-bottom-10"><a href="food-categories.html">Hamburger</a></div>
								<a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
							</div>
						</div>
						<div class="col-50">
							<div class="restaurant-grid">
								<img src="img/photos/2.jpg" alt="restaurant">
								<h6>Sushi Yuki</h6>
								<div class="gray-text text-thiny margin-bottom-10"><a href="food-categories.html">Sushi</a></div>
								<a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
							</div>
						</div>
						<div class="col-50">
							<div class="restaurant-grid">
								<img src="img/photos/3.jpg" alt="restaurant">
								<h6>Sea Restaurant</h6>
								<div class="gray-text text-thiny margin-bottom-10"><a href="food-categories.html">seafood</a></div>
								<a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
							</div>
						</div>
						<div class="col-50">
							<div class="restaurant-grid">
								<img src="img/photos/4.jpg" alt="restaurant">
								<h6>Big Pizza</h6>
								<div class="gray-text text-thiny margin-bottom-10"><a href="food-categories.html">Pizza</a></div>
								<a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
							</div>
						</div>
						<div class="col-50">
							<div class="restaurant-grid">
								<img src="img/photos/5.jpg" alt="restaurant">
								<h6>Hello Restaurant</h6>
								<div class="gray-text text-thiny margin-bottom-10"><a href="food-categories.html">food</a></div>
								<a href="restaurant-single.html" class="button button-fill color-deeporange text-extrat-thiny">Pick this restaurant</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- TAB GRID -->
			
        </div>
    </div>
    <!-- TAB -->

</div>