
<div class="pages">
	<div data-page="reservation" class="page page-on-center">
		<div class="navbar navbar-no-color">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="back link"> <i class="icon icon-back">
					</i>
					</a>
				</div>
				<div class="center sliding">Login</div>
				<div class="right">
					<!-- Right link contains only icon - additional "icon-only" class-->
					<a href="#" class="link icon-only open-panel"> <i class="icon icon-bars">
						</i>
					</a>
				</div>
			</div>
		</div>
		<div class="page-content text-center" style="margin-bottom: 50px;">
			<div class="page-top-cover reservation-cover">
			</div>
			<div class="text-medium margin-top-15">Reservation</div>
			<form>
				<div class="list-block margin-bottom-40 booking-form inputs-list">
					<ul class="no-border">
						<li>
							<div class="item-content">
								<div class="input-icon item-media">
									<i class="flaticon-user">
									</i>
								</div>
								<div class="item-inner no-margin">
									<div class="item-input item-input-field">
										<input type="text" class="text-thiny" placeholder="Full Name*">
									</div>
								</div>

							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="input-icon item-media">
									<i class="flaticon-email">
									</i>
								</div>
								<div class="item-inner no-margin">
									<div class="item-input item-input-field">
										<input type="text" class="text-thiny" placeholder="E-mail*">
									</div>
								</div>

							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="input-icon item-media">
									<i class="flaticon-phone">
									</i>
								</div>
								<div class="item-inner no-margin">
									<div class="item-input item-input-field">
										<input type="text" class="text-thiny" placeholder="Your Phone*">
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="item-content">
								<div class="input-icon item-media">
									<i class="flaticon-date">
									</i>
								</div>
								<div class="item-inner no-margin">
									<div class="item-input item-input-field">
										<input type="text" class="text-thiny" placeholder="Date*" id="calendar-default" readonly="">
									</div>
								</div>

							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="input-icon item-media">
									<i class="flaticon-time">
									</i>
								</div>
								<div class="item-inner no-margin">
									<div class="item-input item-input-field">
										<input type="text" class="text-thiny" placeholder="Time*" id="picker-time" readonly="">
									</div>
								</div>

							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="input-icon item-media">
									<i class="flaticon-people">
									</i>
								</div>
								<div class="item-inner no-margin">
									<div class="item-input item-input-field">
										<input type="text" class="text-thiny" placeholder="Seats*">
									</div>
								</div>

							</div>
						</li>
					</ul>
				</div>
				<div class="margin-bottom-15 content-block">
					<a href="login.html" class="button button-fill color-deeporange text-thiny">Book now</a>
				</div>
			</form>
		</div>
	</div>
</div>